@model ClubPageViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="card flex-row league-card">
    <img class="card-img-left example-card-img-responsive page-club-logo" style="margin:10px" src="~/imgs/Clubs/@(Model.Logo)" />
    <div class="card-body">
        <h2 class="card-title h5 h4-sm display-4">
            @Model.Name
            @{
                if (User.Identity?.IsAuthenticated ?? false)
                {
                    <form asp-controller="Club" asp-action="AddToFavorites" asp-route-id="@Model.Id">
                        <input id="heart" value="&#10084;" type="submit"  data-bs-toggle="popover" title="Add to favorites" data-bs-trigger="hover" data-bs-placement="bottom" class="add-favorite" style="color:red;" />
                    </form>
                }
            }
        </h2>
        <p class="card-text">Nickname: @Model.Nickname</p>
        <p class="card-text"><a asp-controller="Stadium" asp-action="StadiumById" asp-route-id="@Model.Stadium.Id" class="link-dark" style="text-decoration:none">Stadium: @Model.Stadium.Name</a></p>
    </div>
</div>
<nav class="navbar navbar-expand-sm">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a id="showPlayers" class="nav-link link-dark" href="#">Players</a>
        </li>
        <li class="nav-item">
            <a id="showFixtures" class="nav-link link-dark" href="#">Fixtures</a>
        </li>
    </ul>
</nav>
<div id="clubPlayers">
    <table  class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players)
            {
                <tr class="align-items-center">
                    <td>@player.Number</td>
                    <td><a asp-controller="Player" asp-action="ShowPlayerById" asp-route-id="@player.Id" class="link-dark" style="text-decoration:none">@player.Name</a></td>
                    <td>@player.Position</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="clubFixtures" style="display:none">
    <partial name="_FixturesPartialView" model="@Model.Fixtures" />
</div>

<script src="~/js/ClubByIdJS.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTigger) {
        return new bootstrap.Popover(popoverTigger);
    });
</script>
