@model StadiumPageViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="card flex-row league-card col-md-6">
        <div class="card-body">
            <h2 class="card-title h5 h4-sm display-4">
                @Model.Name
            </h2>
            <p class="card-text">Country: @Model.Country</p>
            <p class="card-text">City: @Model.City</p>
            <p class="card-text">Adrress: @Model.Adrress</p>
            <p class="card-text">Capacity: @Model.Capacity</p>
        </div>
    </div>
    <div class="col-md-6">
        <iframe src="@Model.Location" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
@if (this.User.IsAdmin())
{
    <div class="container button-add" style="margin-bottom:120px">
        <a asp-controller="Stadium" asp-action="EditStadium" asp-route-id="@Model.Id" class="btn btn-danger btn-lg float-right">Edit Stadium</a>
    </div>
}


