@model LeaguePageViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="card flex-row league-card">
    <img class="card-img-left example-card-img-responsive league-logo" style="margin:10px" src="~/imgs/Leagues/@(Model.Logo)" />
    <div class="card-body">
        <h2 class="card-title h5 h4-sm display-4">@Model.Name</h2>
        <p class="card-text">@Model.Country</p>
    </div>
</div>
<nav class="navbar navbar-expand-sm">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a id="showStandings" class="nav-link link-dark" href="#">Standings</a>
        </li>
        <li class="nav-item">
            <a id="showLeagueFixtures" class="nav-link link-dark" href="#">Fixtures</a>
        </li>
    </ul>
</nav>

<div id="standingsTable">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="standing-td">#</th>
                <th scope="col" class="standing-td">Logo</th>
                <th scope="col">Team</th>
                <th scope="col" class="standing-td">MP</th>
                <th scope="col" class="standing-td">W</th>
                <th scope="col" class="standing-td">D</th>
                <th scope="col" class="standing-td">L</th>
                <th scope="col" class="standing-td">GD</th>
                <th scope="col" class="standing-td">Pts</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Clubs.Count; i++)
            {
                <tr class="align-items-center">
                    @if (i == 0)
                    {
                        <th class="standing-td" scope="row" style="background-color:gold; text-align:center">@(i + 1)</th>
                    }
                    @{
                        else if (i >= 8)
                        {
                            <th class="standing-td" scope="row" style="background-color:red; text-align:center">@(i + 1)</th>
                        }
                        else
                        {
                            <th class="standing-td" scope="row" style="text-align:center">@(i + 1)</th>
                        }
                    }
                    <td class="standing-td" style="width:20px"><img src="~/imgs/Clubs/@(Model.Clubs[i].Logo)" class="standings-club-logo"></td>
                    <td><a asp-controller="Club" asp-action="ClubById" asp-route-id="@Model.Clubs[i].Id" class="link-dark" style="text-decoration:none">@Model.Clubs[i].Name</a></td>
                    <td class="standing-td">@Model.Clubs[i].MathesPlayed</td>
                    <td class="standing-td">@Model.Clubs[i].Wins</td>
                    <td class="standing-td">@Model.Clubs[i].Draws</td>
                    <td class="standing-td">@Model.Clubs[i].Loses</td>
                    <td class="standing-td">@Model.Clubs[i].GoalDifferrence</td>
                    <td class="standing-td">@Model.Clubs[i].Points</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="fixturesTable" style="display:none">
    <partial name="_FixturesPartialView" model="@Model.Fixtures" />
</div>
<div class="container ">
    <a asp-controller="Club" asp-action="AddClub" class="btn btn-danger btn-lg float-right">Add Club</a>
</div>
<script src="~/js/LeagueByIdJS.js"></script>
